*.o
deps/glfw/CMakeCache.txt
deps/glfw/CMakeFiles
deps/glfw/src/CMakeFiles
deps/glfw/cmake_install.cmake
deps/glfw/cmake_uninstall.cmake
deps/glfw/src/cmake_install.cmake
*.sln
**/.vs/
*.vcxproj
deps/stb_image/x64/
zig-cache/
*.blend1
*.blend2
.user
*.filters
*.user
*.obj
*.log
*.pdb
*.tlog
*.lastbuildstate
*.7z
*.FileListAbsolute.txt
*.bin
*.lib
*.json
*.a
*.so
*.so.*
!deps/zstd/build/VS2010/zstd.sln
!deps/zstd/build/VS2010/libzstd/libzstd.vcxproj