*.o
deps/glfw/
!deps/glfw/**.c
!deps/glfw/**.h
*.sln
**/.vs/
*.vcxproj
deps/stb_image/x64/
zig-cache/
*.blend1
*.blend2
.user
*.filters
*.user
*.obj
*.log
*.pdb
*.tlog
*.lastbuildstate
*.7z
*.FileListAbsolute.txt
*.bin
*.lib
*.json
*.a
*.so
*.so.*
!deps/zstd/build/VS2010/zstd.sln
!deps/zstd/build/VS2010/libzstd/libzstd.vcxproj